.premium_price {
    color: grey;
}

.block {
    padding: 10px 1px;
    margin-right: 89px;
}

.box {
    padding: .6rem 2rem;

}

.container_car {
    background-color: #222222;
}

.slider {
    margin-left: 60px;
}

.premium {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.desc_item {
    padding: 0.8rem;
    color: white;
}

.premium_desc {
    width: 109%;
}